html {
  font-family: 'Lato', sans-serif;
  color: #3b393b;
}

body {
  margin: 0;
}

#fixed {
  width:70px;
  height:65px;
}

h2 {
  color: #fff;
}

.banner p {
  color: #fff;
}

span, h1, h3 {
  color: #f7882f;
  font-family: 'Kalam', cursive;
}

header {
  background-color: #6b7c8e;
  text-align: center;
}

div p {
  color: #fff;
}

header,p {
  font-family: 'Lato', sans-serif;
}

li, a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  color: #fff;
}

li a:hover {
  color: #fff;
  background-color: #606c7f;
  border-radius: 3px;
}

.banner .btn {
  background-color: #f7882f;
  border-radius: 3px;
  border: none;
}

.banner .btn:hover {
  background-color: #db7f34;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.content {
  position: absolute;
  transform: translate(-50%. -50%);
  top: 10%;
  left: 10%;
}

.customer-01, .customer-02 {
  width: 30%;
  float: right;
}

.customer {
  font-family: 'Kalam', cursive;
  float: right;
  color: #3b393b;
}

footer {
  background-color: #3b393b;
  color: #fff;
  height: 50%;
}

li .cards {
  font-family: 'Lato', sans-serif;
  color: #3b393b;
}

.pricing {
  background-color: #f0f0f0;
  border-radius: 3px;
}
