html {
  font-family: 'Lato', sans-serif;
  color: #3b393b;
}

body {
  margin: 0;
}

h1,nav,h2,h3 {
  font-family: 'Kalam', cursive;
}


header {
  background-color: #90aec0;
  text-align: center;

}

header,p {
  font-family: 'Lato', sans-serif;
}

li, a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

li a:hover {
  color: #fff;
  background-color: #26726F;
  padding: .5rem;
}

.btn {
  background-color: #15114c;
  border-radius: 10px;
  border: none;
}
}
