html {
  font-family: 'Lato', sans-serif;
  color: #3b393b;
}

body {
  margin: 0;
}

h1,nav,h3 {
  font-family: 'Kalam', cursive;
}

h2 {
  color: #fff;
}

.banner p {
  color: #fff;
}

span, h1 {
  color: #f7882f;
  font-family: 'Kalam', cursive;
}

header {
  background-color: #6b7c8e;
  text-align: center;
}

header,p {
  font-family: 'Lato', sans-serif;
}

li, a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

li a:hover {
  color: #fff;
  background-color: #26726F;
  padding: .5rem;
}

.banner .btn {
  background-color: #f7882f;
  border-radius: 4px;
  border: none;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.content {
  position: absolute;
  transform: translate(-50%. -50%);
  top: 10%;
  left: 10%;
}
